@font-face {
    font-family: 'Montserrat';
    src: url('../fonts/montserrat-semibolditalic.woff2') format('woff2'),
         url('../fonts/montserrat-semibolditalic.woff') format('woff'),
         url('../fonts/montserrat-semibolditalic.ttf') format('truetype');
    font-weight: 600;
    font-style: italic;
}

@font-face {
    font-family: 'Montserrat';
    src: url('../fonts/montserrat-semibold.woff2') format('woff2'),
         url('../fonts/montserrat-semibold.woff') format('woff'),
         url('../fonts/montserrat-semibold.ttf') format('truetype');
    font-weight: 600;
    font-style: normal;
}

@font-face {
    font-family: 'Montserrat';
    src: url('../fonts/montserrat-regular.woff2') format('woff2'),
         url('../fonts/montserrat-regular.woff') format('woff'),
         url('../fonts/montserrat-regular.ttf') format('truetype');
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: 'Montserrat';
    src: url('../fonts/montserrat-mediumitalic.woff2') format('woff2'),
         url('../fonts/montserrat-mediumitalic.woff') format('woff'),
         url('../fonts/montserrat-mediumitalic.ttf') format('truetype');
    font-weight: 500;
    font-style: italic;
}

@font-face {
    font-family: 'Montserrat';
    src: url('../fonts/montserrat-medium.woff2') format('woff2'),
         url('../fonts/montserrat-medium.woff') format('woff'),
         url('../fonts/montserrat-medium.ttf') format('truetype');
    font-weight: 500;
    font-style: normal;
}

@font-face {
    font-family: 'Montserrat';
    src: url('../fonts/montserrat-extrabolditalic.woff2') format('woff2'),
         url('../fonts/montserrat-extrabolditalic.woff') format('woff'),
         url('../fonts/montserrat-extrabolditalic.ttf') format('truetype');
    font-weight: 800;
    font-style: italic;
}

@font-face {
    font-family: 'Montserrat';
    src: url('../fonts/montserrat-extrabold.woff2') format('woff2'),
         url('../fonts/montserrat-extrabold.woff') format('woff'),
         url('../fonts/montserrat-extrabold.ttf') format('truetype');
    font-weight: 800;
    font-style: normal;
}

@font-face {
    font-family: 'Montserrat';
    src: url('../fonts/montserrat-bolditalic.woff2') format('woff2'),
         url('../fonts/montserrat-bolditalic.woff') format('woff'),
         url('../fonts/montserrat-bolditalic.ttf') format('truetype');
    font-weight: 700;
    font-style: italic;
}

@font-face {
    font-family: 'Montserrat';
    src: url('../fonts/montserrat-bold.woff2') format('woff2'),
         url('../fonts/montserrat-bold.woff') format('woff'),
         url('../fonts/montserrat-bold.ttf') format('truetype');
    font-weight: 700;
    font-style: normal;
}

@font-face {
    font-family: 'Montserrat';
    src: url('../fonts/montserrat-blackitalic.woff2') format('woff2'),
         url('../fonts/montserrat-blackitalic.woff') format('woff'),
         url('../fonts/montserrat-blackitalic.ttf') format('truetype');
    font-weight: 900;
    font-style: italic;
}

@font-face {
    font-family: 'Montserrat';
    src: url('../fonts/montserrat-black.woff2') format('woff2'),
         url('../fonts/montserrat-black.woff') format('woff'),
         url('../fonts/montserrat-black.ttf') format('truetype');
    font-weight: 900;
    font-style: normal;
}