@mixin transition($ms){
  -webkit-transition: all $ms linear;
  -moz-transition: all $ms linear;
  -ms-transition: all $ms linear;
  -o-transition: all $ms linear;
  transition: all $ms linear;
}

@mixin borderRadius($radius){
  -webkit-border-radius: $radius;
  border-radius: $radius;
}

@mixin scale($scale) {
  -moz-transform: scale($scale);
  -webkit-transform: scale($scale);
  -o-transform: scale($scale);
  -ms-transform: scale($scale);
  transform: scale($scale);
}

@mixin rotate($deg){
  -moz-transform: rotate($deg);
  -webkit-transform: rotate($deg);
  -o-transform: rotate($deg);
  -ms-transform: rotate($deg);
  transform: rotate($deg);
}