.row-grid-live {
  display: grid;
  grid-template: 100% / 58.33333% 41.66667%;
  margin-bottom: calc(var(--size-base) * 2);
}
.main-video {
  height: 100%;
  padding: 0;
}

@media (max-width: 1094px) {
  .row-grid-live {
    display: block !important;
  }
  .main-video {
    padding-top: 56.25%;
    margin-bottom: var(--size-base);
  }
}